/* josefin sans light */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;;
    background-color: purple;
}


#map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    border: 2px solid black;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  .custom-map-control-button:hover {
    background: rgb(235, 235, 235);
  }

#tooltip {
    position: absolute;
    top: 20px; 
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

header {
    background-color: #4285F4;
    color: #F3F0CA;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    cursor: pointer;
    font-style: italic;
}

nav {
    margin-left: auto;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
    cursor: pointer;
    font-size: 1rem;
}


/* animation for navbar */
@keyframes scaleText {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}