<section id="home">
      <header>
            <h1 class = 'welcome-heading'>Welcome to Journey Jotter</h1>
      </header>
      <section id="main">
            <div id="main-search-bar">
                  <input type="text" id="input-bar" placeholder=""/><button id='submit'>Submit</button>
            </div>
            <nav id="homepage-nav">
                  <div id="hamburger">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                  </div>
                  <ul class="nav justify-content-center" id="nav-list">
                        <li class="nav-item">
                              <a class="nav-link active" href="#">Past Logs</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link active" href="#">Favorites</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link active" href="#">Disliked</a>
                        </li>
                        <li class="nav-item">
                              <a class="nav-link active" href="#">My Account</a>
                        </li>
                  </ul>
            </nav>
      </section>
      <script src="/js/home.js"></script>
</section>