<header>
      {{> header}}
</header>
<section id="main">
      <div id="main-search-bar">
            <input type="text" id="input-bar" placeholder=""/>
      </div>
      <nav id="homepage-nav">
            <ul class="nav justify-content-center">
                  <li class="nav-item">
                        <a class="nav-link active" href="#">Past Logs</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link active" href="#">Favorites</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link active" href="#">Disliked</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link active" href="#">My Account</a>
                  </li>
            </ul>
      </nav>
</section>
<script src="/js/home.js"></script>