/* Apply styles to the body of the page */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque&family=Ubuntu:wght@300;700&display=swap');

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other content */
    overflow: hidden; /* Hide the horizontal scroll bar */
}

/* Style your video element */
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    letter-spacing: 15px;
    font-family: 'anton';
}

body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Center the content within the page */
.row {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Style the login cards */
.login-card {
    background: linear-gradient(#0056b3, #ccc, #fff);
    border: 3px  solid white;
    /* border-radius: 15px; */
    padding: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 300px;
    margin-bottom: 10%;
}

/* Style page titles (Login and Signup) */
.page-title {
    font-size: 24px;
    margin: 0 0 20px;
    color: white;
}

/* Style form elements */
.form-group {
    margin-bottom: 15px;
    color: #fff;
}

label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #E1AA74;
}
