/* Apply styles to the body of the page */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bricolage+Grotesque&family=Bungee+Spice&family=Crimson+Text&family=Nabla&family=Playfair+Display&family=Ubuntu:wght@300;700&display=swap');

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other content */
    overflow: hidden; /* Hide the horizontal scroll bar */
}

/* Styles video element */
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.unique-animation {
    font-family: 'playfair display';
    letter-spacing: 10px;
    color: gold;
    text-align: center;
    font-size: 3.6rem;
    font-weight:900;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent line breaks in the text */
    height: 0; /* Start with no height (hidden) */
    animation: typing 2.7s steps(100) forwards; /* Use "typing" animation */
  }
  
  /* Define the animation keyframes for typing effect */
  @keyframes typing {
    from {
      height: 0;
    }
    to {
      height: 3em; /* Adjust the final height to center the text as needed */
    }
  }

  .text{
    font-family: 'playfair display';
    text-align: center;
    color: white;
    font-size: 1.5em;
}
  
  
body {
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    
}

/* Center the content within the page */
.row {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.login-card {
    background: linear-gradient(rgb(9, 9, 15),rgb(16, 16, 25),navy,#0056b3, #0F52BA,#007bff,#84b7ee, #ccc, #fff);
    border: 3px solid white;
    padding: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 300px;
    margin-bottom: 18%;
    transition: all 0.3s; /* Add a transition for smooth animation */

    /* Define the initial state */
    transform: scale(1);
}

/* Add hover effect */
.login-card:hover {
    transform: scale(1.07); /* Scale the card up on hover */
    cursor: pointer; /* Change cursor on hover if desired */
    border: 3px solid gold;
}
  

/* Style page titles (Login and Signup) */
.page-title {
    font-size: 24px;
    margin: 0 0 20px;
    color: gold;
    font-family: 'playfair display';
    font-weight: 700;
}

/* Style form elements */
.form-group {
    margin-bottom: 15px;
    color: #fff;
    font-family: 'playfair display';
}

label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'playfair display';
}

/* Style buttons */
.btn {
    font-family: 'playfair display';
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
   
}

.btn:hover {
    background-color: gold;
    border-radius: 3px solid gold;
}
