/* Apply styles to the body of the page */

h1{
    text-align: center;
    font-size: 50px;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51.0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Center the content within the page */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Style the login cards */
.login-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width:300px;
}

/* Style page titles (Login and Signup) */
.page-title {
    font-size: 24px;
    margin: 0 0 20px;
}

/* Style form elements */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
